/*
  Theme and global variables
*/
html {
  overflow-y: scroll;

  --game-spacing: 32px;
  --header-height: 4rem;

  --color-background: hsl(60deg, 3%, 89%);
  --color-success: hsl(150deg 70% 30%);
  --color-warning: hsl(50deg 100% 30%);
  --color-error: hsl(0deg 70% 45%);
  --color-input-hover: hsl(221deg, 72%, 54%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);

  --font-family-heading: "Limelight", sans-serif;
  --font-family-body: "Kedebideri", sans-serif;

  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;

  /* Button */
  --color-pushable-bg: hsl(205deg, 100%, 32%);
  --color-front-bg: hsl(210deg 100% 47%);

  --shadow-color: 60deg 2% 56%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

/*
  Custom styles
*/
body {
  font-family: var(--font-family-body);
  background-color: var(--color-background);
}

@media (max-height: 600px) {
  body {
    --game-spacing: 8px;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-gray-700);
  color: var(--color-gray-300);
  font-family: var(--font-family-heading);
}

header .side {
  width: var(--header-height);
  display: grid;
  place-content: center;
}

h1 {
  flex: 1;
  font-size: 2rem;
  line-height: var(--header-height);
  text-align: center;
}

@media (max-width: 25rem) {
  h1 {
    font-size: 1.25rem;
  }
}

.game-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--game-spacing);
  padding: var(--game-spacing) 32px;
  margin: 0 auto;
  min-width: 250px;
  max-width: min(500px, 58vh, 100%);
}

.guess-results {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.cell {
  position: relative;
  width: 20%;
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-gray-700);
  border-radius: var(--radius);
  font-size: 2rem;
}

/*
  Round the corners for the 4 cells at the very corners of
  the game board
*/
.guess:first-of-type .cell:first-of-type {
  --radius: 12px 0px 0px 0px;
}
.guess:first-of-type .cell:last-of-type {
  --radius: 0px 12px 0px 0px;
}
.guess:last-of-type .cell:last-of-type {
  --radius: 0px 0px 12px 0px;
}
.guess:last-of-type .cell:first-of-type {
  --radius: 0px 0px 0px 12px;
}

.cell.correct {
  background: var(--color-success);
  border-color: var(--color-success);
  color: white;
}
.cell.incorrect {
  background: var(--color-gray-300);
  border-color: var(--color-gray-300);
  color: white;
}
.cell.misplaced {
  background: var(--color-warning);
  border-color: var(--color-warning);
  color: white;
}

.guess-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 6.75rem;
}

.guess-input-wrapper label {
  font-size: 1.25rem;
  font-weight: 500;
}

.guess-input-wrapper input {
  display: block;
  width: 100%;
  font-size: 2rem;
  border: 2px solid var(--color-gray-500);
  border-radius: 12px;
  padding: 8px 16px;
  outline-offset: 4px;
  background: var(--color-background);
  transition: border-color 0.3s ease;
}

.guess-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

input:hover,
input:focus-visible {
  border-color: var(--color-input-hover);
}

.banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  border-radius: 4px 4px 0px 0px;
  will-change: transform;
}

.happy.banner {
  background: var(--color-success);
  color: white;
}
.sad.banner {
  background: var(--color-error);
  color: white;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*
  Modal styles

  HACK: I'm doing this in a quick and dirty way.
  Later in the course, we'll see my preferred way of building
  modals in React.
*/
[data-reach-dialog-content] {
  position: relative;
  border-radius: 8px;
  padding: 24px 32px;
}
.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}
.modal-title {
  margin-bottom: 0.5em;
}

/*
  Keyframe animations
*/
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/*
  Stretch goal styles
*/

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.keyboard .letter {
  width: 2rem;
  height: 2.75rem;
  border-radius: 4px;
  display: grid;
  place-content: center;
  background: var(--color-gray-700);
  font-size: 1.25rem;
  font-weight: 600;
}

.keyboard .letter.correct {
  background: var(--color-success);
  color: white;
}

.keyboard .letter.incorrect {
  background: var(--color-gray-300);
  color: white;
}

.keyboard .letter.misplaced {
  background: var(--color-warning);
  color: white;
}

/*
  Button styles
*/

.pushable {
  position: relative;
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 0.75rem;
  outline-offset: 0.25rem; /* 4px */
  padding: 0;
  transition: filter 600ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg, 0%, 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(205deg 100% 10%) 0%,
    hsl(205deg 80% 50%) 8%,
    hsl(205deg 80% 50%) 92%,
    hsl(205deg 100% 10%) 100%
  );
}

.front {
  position: relative;
  display: block;
  color: white;
  background-color: var(--color-front-bg);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem; /* 12px */
  font-size: var(--fs-500);
  transform: translateY(-0.25rem); /* 4px */
  will-change: transform;
  transition: all 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  text-align: center;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-0.375rem); /* 6px */
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-0.125rem); /* 2px */
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(0.25rem); /* 4px */
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
